html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem=10px**/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/**Globales**/
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
}
h1 {
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
    line-height: 1.2;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
/** Utilidades **/
.centrar-texto {
    text-align: center;
}
.no-margin {
    margin: 0;
}
/* Header */
.site-header-dos{
    background-color: #111111;
}
@media (min-width:768px){
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.site-header {
    background-image: url(../img/2413576.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    height: 60rem;
}
.site-header a, .site-header-dos a{
    color: #111111;
    text-decoration: none;
}
.site-header h1 {
    text-align: center;
    font-weight: 400;
}
.site-header h1 span, .site-header-dos p span {
    font-weight: 700;
}
/*Navegación*/
.site-header-dos .navegacion a{
    color: #ffffff; 
}
.navegacion a{
    text-align: center;
    display: block;
    font-size: 1.8rem;
    color: #111111;
    text-decoration: none;
}
@media (min-width: 768px){
    .navegacion a{
        display: inline;
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin-right: 0;
    }
    
}
/*Header texto*/
.texto-header{
    color: #111111;
    text-align: center;
    margin-top: 5rem;
}
@media (min-width: 768px){
    .texto-header {
    margin-top: 15rem;
    }
}
.texto-header p {
    font-size: 2.2rem;
}
/*Botones*/
.boton{
    color: #111111;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}
@media only screen and (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}
.boton:hover{
    cursor: pointer;
}
.boton-azul {
    background-color: #58D3F7;
}
/*contacto*/
form p {
    font-size: 1.2rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}
legend{
    font-size: 2rem;
    color: #4f4f4f;
}
label{
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
input:not([type="submit"]), textarea, select{
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
input[type="radio"]{
    width: auto;
    margin: 0;
}
select{
    -webkit-appearance: none;
    appearance: none;
}
textarea{
    height: 20rem;
}
.forma-contacto {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 768px){
    .doble-columa {
        display: flex;
    }
    .ip {
        width: 40%;
        margin-top: 5rem;
        margin-bottom: 5rem;
        background-color: white;
    }
    .ic {
        flex-basis: 80%;
        background-image: url(../img/registro.jpg);
        background-position: center center;
        background-size: cover; 
        margin-right: -35rem;
        
    }
}

/* Footer */
.site-footer {
    background-color: black;
    padding: 3rem;
}
.site-footer p, .site-header-dos p {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}
.site-footer p span{
    font-weight: 700;
}
.site-footer .navegacion a{
    color: #ffffff;
}

